* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 62.5%;
    background-color: $primary-color;
    line-height: 1.6;
}



a {
    text-decoration: none;
    color: inherit;
}
ul {
    padding: 0;
}
li {
    list-style: none;
}

