
// Variables


$monitor: 1024px;
$lg-monitor : 1600px;


$font-primary: 'Poppins', sans-serif;
$font-secondary: 'Crimson Pro', serif;


$fs-small: 1rem;
$fs-medium: 2rem;
$fs-large: 3rem;
$fs-Xlarge: 5rem;


//COLOR
$primary-color: #4062FF;
$primary-color--strong: #1741FF;

$secondary-color: #40BAFF;

$third-g: #54D62C;
$third-g: #FF4842;


$light-color: #F2F8FF;


$neutral-grey-400: #C4CDD5;
$neutral-grey-500: #919EAB;
$neutral-grey-600: #637381;
