
// Variables


$monitor: 1024px;
$lg-monitor : 1600px;


$font-primary: 'Poppins', sans-serif;
$font-secondary: 'Crimson Pro', serif;


$fs-small: 1rem;
$fs-medium: 2rem;
$fs-large: 3rem;
$fs-Xlarge: 5rem;


//COLOR
$primary-color: #4062FF;
$primary-color--strong: #1741FF;
$primary-color--soft: #4F6FFF;

$secondary-color: #40BAFF;

$bg-green: #54D62C;
$bg-red: #FF4842;


$light-color: #F2F8FF;


$neutral-grey-300: #DFE3E8;
$neutral-grey-400: #C4CDD5;
$neutral-grey-500: #919EAB;
$neutral-grey-600: #637381;
$neutral-grey-700: #454F5B;
